<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Join Chat</title>
    <script src="https://cdn.socket.io/4.7.2/socket.io.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
</head>
<body>
    <div class="container">
    <div class="card">
      <h2>Join the Chat</h2>
      <input id="username" type="text" placeholder="Enter your name" required />
      <button onclick="enterChat()">Join</button>
    </div>
  </div>
    <script src="{{ url_for('static', filename='socket.js') }}"></script>
</body>
</html>